form, h3{
  display: block;
  margin-left: 2%;
  height: 20px;
  width: 300px;
}

h3{
  margin-top: 2%;
  margin-bottom: 4%;
}

label{
display: block;
margin-bottom: 1%;
margin-top: 2%;
}

input{
  margin-bottom: 3%;
}

.hide{
  display: none;
}

.visible{
  display: block;
}

button{
  margin-top: 4%;
}

span{
  color: darkred;
}